@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background: #020c1d;
  overflow: hidden;
}

canvas {
  background: #00102d;
  border: none;
  align-self: center;
  margin-left: 80px;
  margin-top: 0px;
}

.heading {
  color: #ec3b3b;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  margin-left: 90px;
  text-align: left;
}

.heading2 {
  color: #70a0e7;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 50px;
  margin-left: 230px;
  margin-top: -90px;
}

.time {
  position: absolute;
 margin-left: 900px;
 margin-top: -1200x;
 font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
 font-size: 35px;
 color: white;
 top: 0%;
 transform: translate(0%, 50%);
}

.collected {
  margin-left: 1300px;
  margin-top: -70px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  color: white;
}

.maxcollected {
  margin-left: 1410px;
  margin-top: -69px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  color: white;
}

.coin {
  position: absolute;
  margin-left: 1520px;
  margin-top: -70px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  color: white;
}

.deaths {
  position: absolute;
  margin-left: 1150px;
  margin-top: -70px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  color: white;
}

.deathcount {
  position: absolute;
  margin-left: 1210px;
  margin-top: -70px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  color: white;
}

.win {
  opacity: 1;
  height: 500px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.192);
  color: white;
  padding: 10px;
  position: absolute;
  margin-top: -700px;
  margin-left: 700px;
  font-family: bahnschrift;
  font-size: 35px;
  align-content: center;
  text-align: center;
  border-radius: 20px;
  animation-name: glide;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  z-index: 100;

}

.text {
  height: 450px;
  width: 400px;
  color: white;
  padding: 10px;
  margin-left: 30px;
  margin-top: 50px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 20px;
  align-content: center;
  text-align: center;
  z-index: 200;
}

.thick {
  font-weight: 500px;
  font-size: 50px;
  width: 500px;
  margin-left: -30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.record {
  font-weight: 500px;
  font-size: 60px;
  width: 500px;
  margin-left: -30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.best {
  position: absolute;
  margin-left: 550px;
  margin-top: -870px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
}

.hidden {
  opacity: 0;
  position: absolute;
  margin-left: 950px;
  margin-top: -350px;
  pointer-events: none;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 106, 255);
  outline: none;
  border: none;
  border-radius: 15px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  font-family: Arial;
}

.reset {
  opacity: 1;
  position: absolute;
  margin-left: -1100px;
  margin-top: 530px;
  pointer-events: all;
  color: rgb(255, 255, 255);
  background-color: rgb(10, 86, 192);
  outline: none;
  border: none;
  border-radius: 4px;
  height: 55px;
  width: 370px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  animation-name: buttglide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  cursor: pointer;
  transition-duration: 0.2s;
  z-index: 200;
}

.reset:hover {
  background-color: rgb(0, 195, 255);
}


@keyframes glide {
  from {margin-top: -1000px; opacity: 0; z-index: 100;}
  to {margin-top: -700px; opacity: 1; z-index: 100;}
}

@keyframes buttglide {
  from {margin-top: -530px; opacity: 0; z-index: 200;}
  to {margin-top: 530x; opacity: 0.5; z-index: 200;}
}
